<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connGlobal" connectionString="Server=LAPTOP-VIP8V3OM\SETH; Database=db_POS; Trusted_Connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>