<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connGlobal" connectionString="Server=SANCTUARY\SQLEXPRESS; Database=db_POS; User Id=sa; Password=ashleykuni14*;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>